<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luckyakalucka.renabooks">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_laucher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/alfa"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TimetableFriday" />
        <activity android:name=".TimetableThursday" />
        <activity android:name=".TimetableWednesday" />
        <activity android:name=".TimetableTuesday" />
        <activity android:name=".TimetableMonday" />
        <activity android:name=".TimetableTime" />
        <activity android:name=".Timetable" />
        <activity android:name=".questions" />
        <activity android:name=".Settings" />
        <activity android:name=".BooksActivity" />
    </application>
</manifest>